take/eclipse/*
take/jboss-6.0.0.Final/*
take/jdk/*
take/projekty.pdf
take/start_eclipse.bat
take/start_jboss.bat
take/TAKE_wprow.pdf
take/Tworzenie Aplikacji Klasy Enterprise.pdf
#*.gitignore
!/take/workspace
take/workspace/*
!/take/workspace/take/
/take/workspace/take/*
!/take/workspace/take/src
!/take/workspace/takeclient/src
!/take/workspace/take/WebContent/*
take/workspace/take/WebContent/persistence.xml



ankiety.ldb
take/workspace/take/.metadata/.lock
take/workspace/take/.metadata/.mylyn/.taskListIndex/segments.gen
take/workspace/take/.metadata/.mylyn/.taskListIndex/segments_1
take/workspace/take/.metadata/.mylyn/repositories.xml.zip
take/workspace/take/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
take/workspace/take/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
take/workspace/take/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
take/workspace/take/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
take/workspace/take/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
take/workspace/take/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
take/workspace/take/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
take/workspace/take/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
take/workspace/take/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
take/workspace/take/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
take/workspace/take/.metadata/version.ini
take/workspace/takeclient/.classpath
take/workspace/takeclient/.project
take/workspace/takeclient/.settings/org.eclipse.jdt.core.prefs
take/workspace/takeclient/bin/pl/kurs/Car.class
take/workspace/takeclient/bin/pl/kurs/Cars.class
take/workspace/takeclient/bin/pl/kurs/HttpHelper.class
take/workspace/takeclient/bin/pl/kurs/Komis.class
take/workspace/takeclient/bin/pl/kurs/KomisRemote.class
take/workspace/takeclient/bin/pl/kurs/KomisTableModel.class
take/workspace/takeclient/bin/pl/kurs/KomisWindow$1.class
take/workspace/takeclient/bin/pl/kurs/KomisWindow$2.class
take/workspace/takeclient/bin/pl/kurs/KomisWindow.class
take/workspace/takeclient/bin/pl/kurs/Start.class
take/workspace/takeclient/bin/pl/kurs/Test.class
take/workspace/takeclient/src/pl/kurs/Car.java
take/workspace/takeclient/src/pl/kurs/Cars.java
take/workspace/takeclient/src/pl/kurs/HttpHelper.java
take/workspace/takeclient/src/pl/kurs/Komis.java
take/workspace/takeclient/src/pl/kurs/KomisRemote.java
take/workspace/takeclient/src/pl/kurs/KomisTableModel.java
take/workspace/takeclient/src/pl/kurs/KomisWindow.java
take/workspace/takeclient/src/pl/kurs/Start.java
take/workspace/takeclient/src/pl/kurs/Test.java
