take/eclipse/*
take/jboss-6.0.0.Final/*
take/jdk/*
take/projekty.pdf
take/start_eclipse.bat
take/start_jboss.bat
take/TAKE_wprow.pdf
take/Tworzenie Aplikacji Klasy Enterprise.pdf
#*.gitignore

!/take/workspace
/take/workspace/take/build.xml
/take/workspace/take/.classpath
/take/workspace/take/.project
/take/workspace/.metadata
/take/workspace/take/lib
/take/workspace/take/dist
/take/workspace/take/.settings
#take/workspace/*
#!/take/workspace/take/
#/take/workspace/take/*
#!/take/workspace/take/src
#!/take/workspace/takeclient/src
#!/take/workspace/take/WebContent/*